html {
  scroll-behavior: smooth !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}

section {
  scroll-margin-top: 50px;
}

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg.png);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.btn-register {
  background-color: #fff;
  color: #161616;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-register:hover {
  background-color: #f8f9fa;
  color: #161616;
  transform: translateY(-2px);
}

.btn-form {
  background-color: transparent;
  color: #fff;
  padding: 11px 29px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-form:hover {
  transform: translateY(-2px);
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: #161616;
}

.vision-mission {
  background-color: #f8f9fa;
  padding: 4rem 0;
}

.info-section {
  background-color: #e9ecef;
  padding: 4rem 0;
}

.info-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.info-card h5 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #161616;
}

.kuota-section {
  padding: 4rem 0;
  background-color: #f8f9fa;
}

.kuota-card {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: #fff;
}

.kuota-card.blue {
  background: linear-gradient(135deg, #0D3C87, #07224D);
}

.kuota-card.green {
  background: linear-gradient(135deg, #06923E, #015322);
}

.kuota-card.red {
  background: linear-gradient(135deg, #CB0404, #910A0A);
}

.kuota-nomor {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.kuota-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.cta-section {
  padding: 3rem 0;
  text-align: center;
  background-color: white;
}

.footer {
  background-color: #161616;
  color: white;
  text-align: center;
  padding: 35px 0;
  position: relative;
  z-index: 2;
}

.footer p {
  margin: 0;
  font-size: 14px;
}


@media (max-width: 768px) {

  .section-title {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 0.78rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .container h5{
    font-size: 0.8rem !important;
  }

  .btn-login {
    margin-top: 10px;
  }

  .footer p {
        font-size: 12px;
    }
}

